workflow-telegram-chatbot.json
{
  "name": "Telegram Weather Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "queue",
              "value": "={{$json['message']['text'].trim().toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '')}}"
            },
            {
              "name": "chatId",
              "value": "={{$json['message']['chat']['id']}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-queue",
      "name": "Set queue",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json['queue'] !== '' && !/^\\d+$/.test($json['queue']) && $json['queue'].length <= 100}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "if-input-valid",
      "name": "IF Input Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$json['chatId']}}",
        "text": "⚠️ Entrada inválida. Digite apenas o nome de uma cidade (ex.: São Paulo).",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-send-validation-error",
      "name": "Telegram Send Validation Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [860, 480],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParametersUi": {
          "parameter": [
            { "name": "q", "value": "={{$json['queue']}}" },
            { "name": "units", "value": "metric" },
            { "name": "lang", "value": "pt_br" },
            { "name": "appid", "value": "={{$env.OPENWEATHER_API_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "openweather-request",
      "name": "OpenWeather Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [860, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json['cod'] === 200}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "if-success",
      "name": "IF Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1080, 180]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$node['Set queue'].json['chatId']}}",
        "text": "=🌤️ Previsão para <b>{{$json['name']}}</b>:\n\n🌡️ Temperatura: <b>{{Math.round($json['main']['temp'])}}°C</b>\n🤔 Sensação Térmica: <b>{{Math.round($json['main']['feels_like'])}}°C</b>\n⬇️ Mín: {{Math.round($json['main']['temp_min'])}}°C  |  ⬆️ Máx: {{Math.round($json['main']['temp_max'])}}°C\n💧 Umidade: {{$json['main']['humidity']}}%\n🌬️ Vento: {{Math.round($json['wind']['speed'])}} m/s\n🌥️ {{$json['weather'][0]['description']}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-send-success",
      "name": "Telegram Send Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 60],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$node['Set queue'].json['chatId']}}",
        "text": "={{$json['cod'] == '404' || $json['cod'] == 404 ? '❌ Cidade não encontrada. Tente novamente com o nome correto (ex.: São Paulo ou Rio de Janeiro).' : '⚠️ Erro ao consultar a API de clima (código: ' + $json['cod'] + '). Verifique sua chave de API e tente novamente.'}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-send-error",
      "name": "Telegram Send Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Set queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set queue": {
      "main": [
        [
          {
            "node": "IF Input Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Input Valid": {
      "main": [
        [
          {
            "node": "OpenWeather Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Send Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeather Request": {
      "main": [
        [
          {
            "node": "IF Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success": {
      "main": [
        [
          {
            "node": "Telegram Send Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "tags": ["telegram", "weather", "openweather", "chatbot"]
}
